<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.werls.vben.system.mapper.SysUserMapper">

    <select id="getByUid" resultType="top.werls.vben.system.entity.SysUser">
        select *
        from vben_sys_user
        where uid = #{uid}
    </select>
    <select id="getByUsername" resultType="top.werls.vben.system.entity.SysUser">
        select *
        from vben_sys_user
        where username = #{username}
    </select>
</mapper>